body,
html {
  background-image: url(img/bgimg.jpg);
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  position: relative;
  top: 16%;
  left: 46%;
  height: 77%;
  width: 30%;
  background-color: transparent;
}

h2 {
  position: relative;
  top: 0px;
  left: 25%;
  font-size: 42px;
  color: #654225;
  padding: 10px;
  border-bottom: 10px white;
  height: 50px;
  width: 240px;
  margin: 7px;
  text-decoration: underline;
  font-family: 'Lobster Two', cursive;
}

.listdiv {
  position: relative;
  top: 10px;
  left: 20px;
  height: 650px;
  width: 530px;
}

#addTsk{
  border-radius: 5px;
  background-color: #1e1e1e;
  color: white;
  border: solid #333333;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

#taskInput {
  width: 70%;
  padding: 12px;
  border: none;
  border-radius: 25px;
}

#taskInput:focus {
  border: 3px black;
}

input[type="submit"] {
  margin-left: 20px;
  padding: 10px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

span {
  margin-top: 10px;
  font-size: 20px;
  color: white;
}

.buttonDiv .delButton {
  position: absolute;
  top: 580px;
  left: 280px;
  padding: 10px;
  border-radius: 8px;
  background-color: #1e1e1e;
  color: white;
  border: solid #333333;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.buttonDiv .comButton {
  position: absolute;
  top: 580px;
  left: 160px;
  padding: 10px;
  border-radius: 8px;
  background-color: #1e1e1e;
  color: white;
  border: solid #333333;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.buttonDiv .logButton{
  position: absolute;
  top: 580px;
  left: 60px;
  padding: 10px;
  border-radius: 8px;
  background-color: #1e1e1e;
  color: white;
  border: solid #333333;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

input[type="checkbox"]:checked + span {
  text-decoration: line-through;
}

.date {
  font-size: 15px;
  position: relative;
  left: 10px;
  font-family: 'Oswald', sans-serif;
  color: rgb(36, 35, 35);
}

.edtButton {
  padding: 4px;
  margin-bottom: 5px;
  margin-top: 10px;
  position: fixed;
  right: 480px;
  outline: none;
  cursor: pointer;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  font-family: 'Sofia Sans Condensed', sans-serif;
}

.svBtn {
  padding: 4px;
  position: relative;
  top: 0px;
  left: 320px;
  outline: none;
  cursor: pointer;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  font-family: 'Sofia Sans Condensed', sans-serif;
}

.edtInp{
  width: 20%;
  position: relative;
  top: -5px;
  background: transparent;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  font-family: 'Calligraffitti', cursive;
}

::placeholder{
  color: #333333;
}

.edtInp:focus{
  outline: none;
}

.task{
  font-family: 'Calligraffitti', cursive;
  font-weight: 600;
  color: black;
  display: inline-block;
  width: 200px;
  word-wrap: break-word 
}