.task {
  margin-right: 10px;
  font-size: 18px;
}
.date {
  margin-left: 10px;
}
.buttonDiv {
  margin-top: 20px;
}
.btn-black {
  color: #000;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 800px;
}

.checkbox label {
  display: flex;
  align-items: center;
}
.checkbox label input[type="checkbox"] {
  margin-right: 10px;
}

.checkbox input[type="text"] {
  width: 150px;
}

.checkbox .edit-buttons {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.checkbox .edit-buttons button {
  margin-right: 5px;
}